<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.lerk.gradecalc">

    <!-- This file holds meta information about our applications.
         Permissions must also be declared here!-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- First we define the main activity -->
        <activity android:name=".MainActivity">
            <!-- The intent-filter makes this the main activity to launch -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- Then we define the PointToGradeActivity -->
        <activity android:name=".PointToGradeActivity" />

        <!-- And the GradeToPointActivity -->
        <activity android:name=".GradeToPointActivity" />

        <!-- Every activity that will be launched by the app must be declared here. (not fragments or superclasses) -->

    </application>

</manifest>